    <div class="jumbotron">
    <h1 class="display-4">LOG FOR NOTHING WEBSITE</h1>
    
    <nav class="navbar  ">
         
  <ul class="nav">
        <div class="row justify-content-between">
            <div class="col">
  <li class="nav-item">
    <a class="btn btn-secondary" href="{{ path('login') }}">LOGIN</a>
  </li>
            </div> 

  <li class="nav-item">
    <a class="btn btn-secondary" href="">SIGN UP</a>
  </li>
   
            </div>
</ul>
   
</nav>
    </div>