    <div class="shadow-lg jumbotron">
        <div class="row justify-content-between">
    <h1 class="display-4">LOG FOR NOTHING WEBSITE</h1>
     {% if app.session.get("userName") %}
        {% include 'user_widget.html.twig' %}
     {% endif %}
        </div>
    <nav class="navbar  ">
         
  <ul class="nav">
        <div class="row justify-content-between">
           
                {% if app.session.get("userName") %}
                      <div class="col">
  <li class="nav-item">
    <a class="btn btn-secondary" href="{{ path('logout') }}">LOGOUT</a>
  </li>
            </div>  
                {% else %}  
                     <div class="col">
  <li class="nav-item">
    <a class="btn btn-secondary" href="{{ path('login') }}">LOGIN</a>
  </li>
            </div> 

  <li class="nav-item">
    <a class="btn btn-secondary" href="{{ path('signup') }}">SIGN UP</a>
  </li>
   
            </div>
                {% endif %}
</ul>
   
</nav>
    </div>