<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}ECF{% endblock %}</title>
        {% block stylesheets %} {%include 'stylesheets.html.twig'%}{% endblock %}
    </head>
    <body >
        {% block menu %} 
            
            {% include '_MENU.html.twig' %} 
        
        
        {% endblock %} 
   



        
      
        {% block body %}{% endblock %}
        {% block javascripts %} {% include 'js_style.html.twig' %}  {% endblock %}
    </body>
</html>
