{% extends 'base.html.twig' %}

{% block title %}New SecureUser{% endblock %}

{% block body %}
    <h1>Create new SecureUser</h1>

    {{ include('secure_user/_form.html.twig') }}

    <a href="{{ path('secure_user_index') }}">back to list</a>
{% endblock %}
